/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Arka plan rengi */
  color: #333;
}

header {
  background-color: #ff6347; /* Kırmızı renk */
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  background-color: #e0e0e0; /* Daha yumuşak bir beyaz ton */
  margin: 10px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ff6347; /* Kırmızı renk */
  color: white;
}
